In [69]:
import numpy as np
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.linear_model import LinearRegression

In [20]:
dados = pd.read_csv('Wine.csv')
dados = dados[["Alcohol", "Magnesium", "Customer_Segment"]]

dados.head()

   Alcohol  Magnesium  Customer_Segment
0    14.23        127                 1
1    13.20        100                 1
2    13.16        101                 1
3    14.37        113                 1
4    13.24        118                 1

In [29]:
x = dados.drop(columns="Customer_Segment")
y = dados.Customer_Segment

np.random.seed(42)
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size=0.2)

In [72]:
class Processt(BaseEstimator, TransformerMixin):
    def __init__(self, feature_name):
        print("\n>>>>init() called\n")
        self.feature_name = feature_name
        
    def fit(self, x, y=None):
        print("\n>>>>fit() called\n")
        return self
        
    def transform(self, x, y=None):
        print("\n>>>>transform() called\n")
        x_ = x.copy()
        x_["nova"] = x_[self.feature_name] ** 2
        print(x_)
        return x_

In [73]:
process = Processt("Magnesium")
process.fit(treino_x, treino_y)
process.transform(treino_x, treino_y)

>>>>init() called


>>>>fit() called


>>>>transform() called

     Alcohol  Magnesium   nova
158    14.34         98   9604
137    12.53         96   9216
98     12.37         88   7744
159    13.48         89   7921
38     13.07         98   9604
..       ...        ...    ...
71     13.86         86   7396
106    12.25         80   6400
14     14.38        102  10404
92     12.69         80   6400
102    12.34         98   9604

[142 rows x 3 columns]

     Alcohol  Magnesium   nova
158    14.34         98   9604
137    12.53         96   9216
98     12.37         88   7744
159    13.48         89   7921
38     13.07         98   9604
..       ...        ...    ...
71     13.86         86   7396
106    12.25         80   6400
14     14.38        102  10404
92     12.69         80   6400
102    12.34         98   9604

[142 rows x 3 columns]

In [76]:
pipeline = Pipeline(steps=[('teste', Processt("Magnesium")),
                           ('model', LinearRegression())
                          ])

pipeline.fit(treino_x, treino_y)
pipeline.predict(teste_x)

>>>>init() called


>>>>fit() called


>>>>transform() called

     Alcohol  Magnesium   nova
158    14.34         98   9604
137    12.53         96   9216
98     12.37         88   7744
159    13.48         89   7921
38     13.07         98   9604
..       ...        ...    ...
71     13.86         86   7396
106    12.25         80   6400
14     14.38        102  10404
92     12.69         80   6400
102    12.34         98   9604

[142 rows x 3 columns]

>>>>transform() called

     Alcohol  Magnesium   nova
19     13.64        116  13456
45     14.21        111  12321
140    12.93         96   9216
30     13.73        101  10201
67     12.37         78   6084
16     14.30        120  14400
119    12.00         87   7569
174    13.40        102  10404
109    11.61         94   8836
141    13.36         89   7921
24     13.50         96   9216
150    13.50        123  15129
41     13.41         90   8100
118    12.77         80   6400
15     13.63        112  12544
111    12.52         88   7744
113    11.41         88   7744
82     12.08         78   6084
9      13.86         98   9604
114    12.08         84   7056
18     14.19        108  11664
66     13.11         78   6084
60     12.33        101  10201
169    13.40        112  12544
171    12.77         86   7396
164    13.78         90   8100
117    12.42        108  11664
65     12.37         98   9604
90     12.08         81   6561
55     13.56        116  13456
29     14.02         96   9216
128    12.37         88   7744
145    13.16        102  10404
31     13.58        106  11236
12     13.75         89   7921
42     13.88        101  10201

array([1.6477485 , 1.54412407, 2.00294174, 1.75269307, 2.36877742,
       1.45758648, 2.33913137, 1.82463168, 2.3521657 , 1.97730529,
       1.8617077 , 1.637857  , 1.95278134, 2.24135938, 1.67992956,
       2.19776687, 2.47280157, 2.44063333, 1.75112044, 2.35802057,
       1.57395195, 2.18542095, 2.09958368, 1.73691873, 2.16105316,
       1.86110311, 2.0125208 , 2.12031116, 2.398462  , 1.66757082,
       1.73286262, 2.23493372, 1.88409864, 1.74263974, 1.88067148,
       1.71552621])